<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @trip.group_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @trip.location %>
</p>

<p>
  <strong>Title:</strong>
  <%= @trip.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @trip.duration %>
</p>


<%= link_to 'Edit', edit_trip_path(@trip) %>
<%= link_to 'Back to All trips', trips_path %>
<%= link_to 'Categories', "/categories/#{@trip.id}" %>
